<?xml version="1.0" encoding="UTF-8"?>
<devices>
    <imeicode imei = "356044061108633">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <rstart>1</rstart>
        <rend>1000</rend>
    </imeicode>
    <imeicode imei = "865072027983462">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <rstart>70</rstart>
        <rend>80</rend>
    </imeicode>
</devices>
