<?xml version="1.0" encoding="UTF-8"?>
<devices>
    <imeicode imei = "356044061108633">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108633.xml</url>
        <version>1</version>
        <rstart>10000000</rstart>
        <rend>100010000</rend>
    </imeicode>
     <imeicode imei = "356044060310545">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310545.xml</url>
        <version>1</version>
        <rstart>20000</rstart>
        <rend>30000</rend>
    </imeicode>
    <imeicode imei = "357654051458555">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/357654051458555.xml</url>
        <version>1</version>
        <rstart>1001</rstart>
        <rend>2000</rend>
    </imeicode>
    <imeicode imei = "353567057876576">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <version>2</version>
        <rstart>700</rstart>
        <rend>900</rend>
    </imeicode>
    <imeicode imei = "352709062596523">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <version>1</version>
        <rstart>500</rstart>
        <rend>1000</rend>
    </imeicode>
    <imeicode imei = "352709062596531">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <version>1</version>
        <rstart>500</rstart>
        <rend>1000</rend>
    </imeicode>
    <imeicode imei = "352709062596531">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/harvestingprogramdetails.xml</url>
        <version>1</version>
        <rstart>500</rstart>
        <rend>1000</rend>
    </imeicode>
    <imeicode imei = "356044060792064">
        <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108633.xml</url>
        <version>1</version>
        <rstart>1000</rstart>
        <rend>1100</rend>
    </imeicode>
</devices>
