<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="356044060310545">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310545.xml</url>
    <version>1</version>
    <rstart>10310001</rstart>
    <rend>10320000</rend>
  </imeicode>
  <imeicode imei="356044060310537">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310537.xml</url>
    <version>1</version>
    <rstart>20500001</rstart>
    <rend>20510000</rend>
  </imeicode>
  <imeicode imei="356044061115968">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115968.xml</url>
    <version>1</version>
    <rstart>10000001</rstart>
    <rend>10010000</rend>
  </imeicode>
  <imeicode imei="356044060792064">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060792064.xml</url>
    <version>1</version>
    <rstart>10320001</rstart>
    <rend>10330000</rend>
  </imeicode>
  <imeicode imei="355290064476532">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064476532.xml</url>
    <version>1</version>
    <rstart>10330001</rstart>
    <rend>10340000</rend>
  </imeicode>
  <imeicode imei="356044061108831">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108831.xml</url>
    <version>1</version>
    <rstart>10220001</rstart>
    <rend>10230000</rend>
  </imeicode>
  <imeicode imei="356044061116339">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061116339.xml</url>
    <version>1</version>
    <rstart>10350001</rstart>
    <rend>10360000</rend>
  </imeicode>
  <imeicode imei="355290064479361">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479361.xml</url>
    <version>1</version>
    <rstart>10360001</rstart>
    <rend>10370000</rend>
  </imeicode>
  <imeicode imei="356044060792346">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060792346.xml</url>
    <version>1</version>
    <rstart>10370001</rstart>
    <rend>10380000</rend>
  </imeicode>
  <imeicode imei="356044060132873">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060132873.xml</url>
    <version>1</version>
    <rstart>10380001</rstart>
    <rend>10390000</rend>
  </imeicode>
  <imeicode imei="356044060072681">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060072681.xml</url>
    <version>1</version>
    <rstart>10390001</rstart>
    <rend>10400000</rend>
  </imeicode>
  <imeicode imei="356044060072921">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060072921.xml</url>
    <version>1</version>
    <rstart>10400001</rstart>
    <rend>10410000</rend>
  </imeicode>
  <imeicode imei="356044060071661">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060071661.xml</url>
    <version>1</version>
    <rstart>10410001</rstart>
    <rend>10420000</rend>
  </imeicode>
  <imeicode imei="356044060072541">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060072541.xml</url>
    <version>1</version>
    <rstart>10420001</rstart>
    <rend>10430000</rend>
  </imeicode>
  <imeicode imei="356044060072525">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060072525.xml</url>
    <version>1</version>
    <rstart>10430001</rstart>
    <rend>10440000</rend>
  </imeicode>
  <imeicode imei="356044060079223">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060079223.xml</url>
    <version>1</version>
    <rstart>10440001</rstart>
    <rend>10450000</rend>
  </imeicode>
  <imeicode imei="355290064479213">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479213.xml</url>
    <version>1</version>
    <rstart>10010001</rstart>
    <rend>10020000</rend>
  </imeicode>
  <imeicode imei="355290064479296">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479296.xml</url>
    <version>1</version>
    <rstart>10020001</rstart>
    <rend>10030000</rend>
  </imeicode>
  <imeicode imei="356044060310768">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310768.xml</url>
    <version>1</version>
    <rstart>10030001</rstart>
    <rend>10040000</rend>
  </imeicode>
  <imeicode imei="355290064479338">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479338.xml</url>
    <version>1</version>
    <rstart>10040001</rstart>
    <rend>10050000</rend>
  </imeicode>
  <imeicode imei="355290064479346">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479346.xml</url>
    <version>1</version>
    <rstart>10050001</rstart>
    <rend>10060000</rend>
  </imeicode>
  <imeicode imei="355290064479353">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479353.xml</url>
    <version>1</version>
    <rstart>10060001</rstart>
    <rend>10070000</rend>
  </imeicode>
  <imeicode imei="356044060311071">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060311071.xml</url>
    <version>1</version>
    <rstart>10070001</rstart>
    <rend>10080000</rend>
  </imeicode>
  <imeicode imei="355290064479379">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479379.xml</url>
    <version>1</version>
    <rstart>10080001</rstart>
    <rend>10090000</rend>
  </imeicode>
  <imeicode imei="355290064479403">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479403.xml</url>
    <version>1</version>
    <rstart>10090001</rstart>
    <rend>10100000</rend>
  </imeicode>
  <imeicode imei="356044060310560">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310560.xml</url>
    <version>1</version>
    <rstart>10100001</rstart>
    <rend>10110000</rend>
  </imeicode>
  <imeicode imei="356044060310727">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310727.xml</url>
    <version>1</version>
    <rstart>10110001</rstart>
    <rend>10120000</rend>
  </imeicode>
  <imeicode imei="356044060310735">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060310735.xml</url>
    <version>1</version>
    <rstart>10120001</rstart>
    <rend>10130000</rend>
  </imeicode>
  <imeicode imei="356044060311089">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044060311089.xml</url>
    <version>1</version>
    <rstart>10130001</rstart>
    <rend>10140000</rend>
  </imeicode>
  <imeicode imei="356044061108674">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108674.xml</url>
    <version>1</version>
    <rstart>10140001</rstart>
    <rend>10150000</rend>
  </imeicode>
  <imeicode imei="356044061108690">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108690.xml</url>
    <version>1</version>
    <rstart>10150001</rstart>
    <rend>10160000</rend>
  </imeicode>
  <imeicode imei="356044061108708">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108708.xml</url>
    <version>1</version>
    <rstart>10160001</rstart>
    <rend>10170000</rend>
  </imeicode>
  <imeicode imei="356044061108716">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108716.xml</url>
    <version>1</version>
    <rstart>10170001</rstart>
    <rend>10180000</rend>
  </imeicode>
  <imeicode imei="356044061108724">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108724.xml</url>
    <version>1</version>
    <rstart>10180001</rstart>
    <rend>10190000</rend>
  </imeicode>
  <imeicode imei="356044061108732">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108732.xml</url>
    <version>1</version>
    <rstart>10190001</rstart>
    <rend>10200000</rend>
  </imeicode>
  <imeicode imei="356044061108740">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108740.xml</url>
    <version>1</version>
    <rstart>10200001</rstart>
    <rend>10210000</rend>
  </imeicode>
  <imeicode imei="356044061108757">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108757.xml</url>
    <version>1</version>
    <rstart>10210001</rstart>
    <rend>10220000</rend>
  </imeicode>
  <imeicode imei="356044061108831">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061108831.xml</url>
    <version>1</version>
    <rstart>10220001</rstart>
    <rend>10230000</rend>
  </imeicode>
  <imeicode imei="356044061115497">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115497.xml</url>
    <version>1</version>
    <rstart>10230001</rstart>
    <rend>10240000</rend>
  </imeicode>
  <imeicode imei="356044061115596">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115596.xml</url>
    <version>1</version>
    <rstart>10240001</rstart>
    <rend>10250000</rend>
  </imeicode>
  <imeicode imei="356044061115687">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115687.xml</url>
    <version>1</version>
    <rstart>10250001</rstart>
    <rend>10260000</rend>
  </imeicode>
  <imeicode imei="356044061115760">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115760.xml</url>
    <version>1</version>
    <rstart>10260001</rstart>
    <rend>10270000</rend>
  </imeicode>
  <imeicode imei="356044061115778">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115778.xml</url>
    <version>1</version>
    <rstart>10270001</rstart>
    <rend>10280000</rend>
  </imeicode>
  <imeicode imei="356044061115877">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115877.xml</url>
    <version>1</version>
    <rstart>10280001</rstart>
    <rend>10290000</rend>
  </imeicode>
  <imeicode imei="355290064479312">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/355290064479312.xml</url>
    <version>1</version>
    <rstart>10290001</rstart>
    <rend>10300000</rend>
  </imeicode>
  <imeicode imei="356044061115919">
    <url>https://raw.githubusercontent.com/manojtilekar/HPA_XML/master/356044061115919.xml</url>
    <version>1</version>
    <rstart>10300001</rstart>
    <rend>10310000</rend>
  </imeicode>
</devices>